.channel-page-main-div{
  position: relative;
  height: 100%;
  top: 70px;
  background-color: rgb(248,248,248);
}

.channel-page-header-div{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: red;
  height: 140px;
}

.channel-page-profile-card-div{
  position: relative;
  top: 45px;
  left: 50px;
}

.channel-page-video-section-div{
  position: relative;
  top: 100px;
  left: 80px;
}